<section class="home" aria-labelledby="header-title">
    <div>
        <header class="header">
            <img class="header__img" src="fulldev.png" alt="logo FullDev">

            <div>
                <h1 class="header__title" id="header-title">FullDev</h1>
                <ul class="header__stats-list">

                    <li class="header__stats-list__item">
                        <img class="header__stats-list__item-icon" src="member.svg" alt=""
                            aria-hidden="true">
                        <p class="header__stats-list__item-text">5458 Membros</p>
                    </li>

                    <li class="header__stats-list__item">
                        <img class="header__stats-list__item-icon" src="group-chat.svg" alt=""
                            aria-hidden="true">
                        <p class="header__stats-list__item-text">15 Grupos</p>

                    </li>

                    <li class="header__stats-list__item">
                        <img class="header__stats-list__item-icon" src="cupcake.svg" alt=""
                            aria-hidden="true">
                        <p class="header__stats-list__item-text">Criado em 10/06/2024 20:36 </p>
                    </li>

                    <li class="header__stats-list__item">
                        <img class="header__stats-list__item-icon" src="laptop-minimalistic.svg"
                            alt="" aria-hidden="true">
                        <p class="header__stats-list__item-text">By Dev, For Dev</p>
                    </li>

                </ul>
            </div>
        </header>

        <section>
            <app-grupos-component [showIcon]="true" text="Geral 1"></app-grupos-component>
            <app-grupos-component [src]="'codequeens.png'" [showIcon]="true" text="Code Queens"></app-grupos-component>

            <app-custom-button-component 
            sizes="large" 
            class="home__button" 
            (buttonClick)="openModal()"
            text="Exibir todos os grupos"
            aria-haspopup="dialog">
            </app-custom-button-component>
        </section>

        <ul class="list-group">
            <li class="list-group__item">
                <a class="list-group__item__link" routerLink="/sobre">Sobre nós
                    <img class="list-group__arrow" src="arrow-up-right.svg" alt="Abrir página Sobre nós">
                </a>
            </li>
            <li class="list-group__item">
                <a class="list-group__item__link" routerLink="/voluntario">Seja voluntário
                    <img class="list-group__arrow" src="arrow-up-right.svg" alt="Abrir página Seja voluntário">
                </a>
            </li>
            <li class="list-group__item">
                <a class="list-group__item__link" routerLink="/contato">Contato
                    <img class="list-group__arrow" src="arrow-up-right.svg" alt="Abrir página para contato">
                </a>
            </li>
            <li class="list-group__item">
                <a class="list-group__item__link" routerLink="/reportar">Reportar bug
                    <img class="list-group__arrow" src="arrow-up-right.svg" alt="Abrir página reportar bug">
                </a>
            </li>
        </ul>

        <section class="newsletter" aria-labelledby="newsletter-title">
            <div class="newsletter__header">
                <p class="newsletter__eyebrow">Newsletter diária</p>
                <h2 class="newsletter__title" id="newsletter-title">Receba a FullDev no seu e-mail</h2>
<!--                 <p class="newsletter__description">
                    O campo abaixo é o formulário incorporado do próprio Substack para a assinatura da newsletter.
                </p> -->
            </div>

            <div class="newsletter__embed">
                <iframe
                    [src]="newsletterEmbedUrl"
                    title="Assinar newsletter da FullDev no Substack"
                    loading="lazy">
                </iframe>
            </div>

            <p class="newsletter__fallback">
                Se o formulário não carregar, finalize a assinatura direto no
                <a [href]="newsletterSubscribeUrl" target="_blank" rel="noopener noreferrer">Substack</a>.
            </p>

<!--             <app-custom-button-component 
            class="newsletter__button"
            [href]="newsletterProfileUrl"
            target="_blank"
            text="Abrir perfil da FullDev no Substack"
            [showIcon]="true"
            color="link"
            sizes="large">
            </app-custom-button-component> -->
        </section>
        
        <app-social-component></app-social-component>
        <app-footer-component></app-footer-component>

        <app-custom-modal title="Grupos" [isOpen]="showModal" (closeModal)="closeModal()">
            <app-grupos-component [parentType]="'modal'" [src]="'codequeens.png'"
                text="Code Queens"></app-grupos-component>
            <app-grupos-component [parentType]="'modal'" [src]="'codequeens.png'"
                text="Code Queens"></app-grupos-component>
            <app-grupos-component [parentType]="'modal'" [src]="'codequeens.png'"
                text="Code Queens"></app-grupos-component>
            <app-grupos-component [parentType]="'modal'" [src]="'codequeens.png'"
                text="Code Queens"></app-grupos-component>
        </app-custom-modal>
    </div>


</section>
